@using Microsoft.AspNetCore.Mvc.TagHelpers
@model QueflityMVC.Application.ViewModels.Pagination.PaginationInfo
<nav id="pagination">
    <ul class="pagination justify-content-center">
        @if (Model.CurrentPageNo <= 1)
        {
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" href="javascript:PagerClick(@Model.CurrentPageNo-1)">Previous</a>
            </li>
        }
        @for (var i = 1; i <= Model.PagesCount; i++)
        {
            @if (i != Model.CurrentPageNo)
            {
                <li class="page-item">
                    <a class="page-link" href="javascript:PagerClick(@i)">@i</a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <span class="page-link">
                        <b>@i</b>
                    </span>
                </li>
            }
        }
        @if (Model.CurrentPageNo >= Model.PagesCount)
        {
            <li class="page-item disabled">
                <span class="page-link">Next</span>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" href="javascript:PagerClick(@Model.CurrentPageNo+1)">Next</a>
            </li>
        }
    </ul>
</nav>

<input type="hidden" asp-for="CurrentPageNo"/>

<script type="text/javascript">
    function PagerClick(pageIndex) {
        document.getElementById('@Html.IdFor(info => info.CurrentPageNo)').value = pageIndex;
        SubmitPagination();
    }

    function SubmitPagination(){
        var pagination = document.getElementById('pagination');
        var form = pagination.closest('form');
        form.submit();
    }
</script>