@model QueflityMVC.Application.ViewModels.Purchasable.ItemForDashboardVm

<div class="card h-100 w-100">
    <!-- Product image-->
    <img class="card-img-top" src="@Model.Image.FileUrl" alt="@Model.Image.AltDescription">
    <!-- Product details-->
    <div class="card-body p-4">
        <div class="text-center">
            <!-- Product name-->
            <h5 class="fw-bolder">@Model.Name</h5>
            <!-- Product price-->
            <p class="text-success font-italic color">@Model.Price</p>
            <!-- Product category-->
            <p class="fst-italic">@Model.Category.Name</p>
        </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="col-auto">
            @Html.ActionLink("Contact about", "Contact", "Home", new { id = Model.Id }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>