@model QueflityMVC.Application.ViewModels.ItemSet.ItemSetDetailsVM

@{
    ViewData["Title"] = "Details";
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

<h4>Set</h4>
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img class="img-fluid rounded-start" src="@Model.Image?.FileUrl" alt="@Model.Image?.AltDescription" style="max-height: 400px;height:100%" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="row">
                    <h4 class="card-title">@Html.DisplayFor(model => model.Name)</h4>
                </div>
                <div class="row">
                    <div class="col-6">
                        <dl style="width:fit-content;">
                            <dt class="col-sm">
                                @Html.DisplayNameFor(model => model.Price)
                            </dt>
                            <dd class="col-sm">
                                @Html.DisplayFor(model => model.Price)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-6">
                        <dl style="width:fit-content;">
                            <dt class="col-sm">
                                Visibility
                            </dt>
                            <dt class="col-sm">
                                <input class="form-check-input" type="checkbox" checked="@(Model.ShouldBeShown? "checked":null)" disabled>
                                @if (@Model.ShouldBeShown)
                                {
                                    <label class="form-check-label">Visible</label>
                                }
                                else
                                {
                                    <label class="form-check-label">Hidden</label>
                                }
                            </dt>
                        </dl>
                    </div>
                </div>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary"})
            </div>
        </div>
    </div>
</div>

<hr />

<h4>Items</h4>
<div class="row">
    <div class="col-auto">
        <h7>Below you can see set's composition</h7>
    </div>
    <div class="col-auto">
        @Html.ActionLink("Add new component", "AddComponent", new { id = Model.Id }, new { @class = "btn btn-outline-secondary btn-sm"})
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                Name
            </th>
            <th>
                Ammount
            </th>
            <th>
                Price per item
            </th>
            <th>
                Overall price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var itemMembership in Model.ItemMemberships)
        {
            <tr>
                <td>
                    @if (itemMembership.Item.Image is not null)
                    {
                        var thumbnail = itemMembership.Item.Image;
                        <img src="@thumbnail.FileUrl" alt="@thumbnail.AltDescription" style="height:30px" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => itemMembership.Item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => itemMembership.ItemsAmmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => itemMembership.PricePerItem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => itemMembership.PricePerItem * itemMembership.ItemsAmmount)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = itemMembership.Item.Id }, new { @class = "btn btn-outline-secondary btn-sm"})
                    @Html.ActionLink("Delete", "Delete", new {  id = itemMembership.Item.Id }, new { @class = "btn btn-outline-danger btn-sm"})
                </td>
            </tr>
        }
    </tbody>
</table>
