@model QueflityMVC.Application.ViewModels.ItemSet.ListItemSetsVM

@{
    ViewData["Title"] = "Index";
    int[] options = new int[] { 2, 5, 10, 25, 50, 100 };
    int pagesCount = (int)Math.Ceiling((Model.TotalCount / (double)Model.PageSize));
    if (pagesCount < 1)
        pagesCount = 1;
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<form asp-action="Index" asp-controller="ItemSets" method="post">
    <ul class="nav gap-1">
        <li class="nav-item">
            <input type="text" class="form-control" placeholder="Search Phrase" asp-for="NameFilter" name="nameFilter" id="nameFilter" />
        </li>
        <li class="nav-item">
            <button type="submit" class="btn btn-secondary">Search</button>
        </li>
        <li class="nav-item">
            <select class="form-select" asp-for="PageSize" name="pageSize" id="pageSize" onchange="javascript:PageSizeSelected()">
                @foreach (int i in options)
                {
                    @if (i == Model.PageSize)
                    {
                        <option value="@i" selected>@i</option>
                    }
                    else
                    {
                        <option value="@i">@i</option>
                    }
                }
            </select>
        </li>
    </ul>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>
                    Name
                </th>
                <th>
                    Visibility
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @if (item.Image != null)
                        {
                            <img src="@item.Image.FileUrl" alt="@item.Image.AltDescription" style="height:30px" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" type="checkbox" checked="@(item.ShouldBeShown? "checked":null)" disabled>
                            @if (item.ShouldBeShown)
                            {
                                <label class="form-check-label">Visible</label>
                            }
                            else
                            {
                                <label class="form-check-label">Hidden</label>
                            }
                        </div>
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-secondary btn-sm"})
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-success btn-sm"})
                        @Html.ActionLink("Delete", "Delete", new {  id = item.Id }, new { @class = "btn btn-outline-danger btn-sm"})
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <nav>
            <ul class="pagination justify-content-center">
                @if (Model.PageIndex <= 1)
                {
                    <li class="page-item disabled"><span class="page-link">Previous</span></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.PageIndex-1)">Previous</a></li>
                }
                @for (int i = 1; i <= pagesCount; i++)
                {
                    @if (i != Model.PageIndex)
                    {
                        <li class="page-item"><a class="page-link" href="javascript:PagerClick(@i)">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item disabled"><span class="page-link"><b>@i</b></span></li>
                    }
                }
                @if (Model.PageIndex >= pagesCount)
                {
                    <li class="page-item disabled"><span class="page-link">Next</span></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="javascript:PagerClick(@Model.PageIndex+1)">Next</a></li>
                }
            </ul>
        </nav>
        <input type="hidden" name="pageIndex" id="pageIndex" />
    </div>
</form>

@section Scripts
    {
    <script type="text/javascript">
        function PagerClick(pageIndex) {
            document.getElementById("pageIndex").value = pageIndex;
            document.forms[0].submit();
        }
    </script>
    <script type="text/javascript">
        function PageSizeSelected() {
            document.forms[0].submit();
        }
    </script>
}