@using QueflityMVC.Application.ViewModels.ItemCategory;
@model ListItemCategoriesVM

@{
    ViewData["Title"] = "Index";
    int[] options = new int[] { 2, 5, 10, 25, 50, 100 };
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" asp-controller="ItemCategories" method="post">
    <div class="column">
        <input type="text" placeholder="Search Phrase" asp-for="NameFilter" name="nameFilter" id="nameFilter" />
        <input type="submit" value="Wyszukaj" />
        <select asp-for="PageSize" name="pageSize" id="pageSize" onchange="javascript:PageSizeSelected()">
            @foreach(int i in options)
            {
                @if(i == Model.PageSize)
                {
                    <option value="@i" selected="selected">@i</option>
                }
                else
                {
                    <option value="@i">@i</option>
                }
            }
        </select>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model.ItemCategories) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("View items", "ViewItems", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling((Model.TotalCount / (double)Model.PageSize)); i++)
                {
                    <td>
                        @if (i != Model.PageIndex)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageIndex" id="pageIndex" />
    </div>
</form>

@section Scripts
    {
    <script type="text/javascript">
        function PagerClick(pageIndex) {
            document.getElementById("pageIndex").value = pageIndex;
            document.forms[0].submit();
        }
    </script>
    <script type="text/javascript">
        function PageSizeSelected() {
            document.forms[0].submit();
        }
    </script>
}