@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using QueflityMVC.Application.Constants
@model QueflityMVC.Application.ViewModels.User.ListUsersVm

@{
    ViewData["Title"] = "Users";
    int[] options = [2, 5, 10, 25, 50, 100];

    var canSeeUserClaims = (await AuthorizationService.AuthorizeAsync(User, Policies.USER_CLAIMS_VIEW)).Succeeded;
    var canSeeUserRoles = (await AuthorizationService.AuthorizeAsync(User, Policies.USER_ROLES_VIEW)).Succeeded;
    var canDisableUser = (await AuthorizationService.AuthorizeAsync(User, Policies.USER_DISABLE)).Succeeded;
    var canEnableUser = (await AuthorizationService.AuthorizeAsync(User, Policies.USER_ENABLE)).Succeeded;
}

<form asp-action="Index" method="post">
    <ul class="nav gap-1">
        <li class="nav-item">
            <input type="text" class="form-control" placeholder="Search Phrase" asp-for="UserNameFilter"/>
        </li>
        <li class="nav-item">
            <button type="submit" class="btn btn-secondary">Search</button>
        </li>
        <li class="nav-item">
            <select class="form-select" asp-for="Pagination.Info.PageSize" onchange="javascript:PageSizeSelected()">
                @foreach (var i in options)
                {
                    @if (i == Model.Pagination.Info.PageSize)
                    {
                        <option value="@i" selected>@i</option>
                    }
                    else
                    {
                        <option value="@i">@i</option>
                    }
                }
            </select>
        </li>
    </ul>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Username
                </th>
                <th>
                    Email
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Pagination.Entities)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @* Action buttons *@
                        @if (canSeeUserRoles)
                        {
                            @Html.ActionLink("Roles", "ManageUserRoles", new { userId = item.Id }, new { @class = "btn btn-outline-info btn-sm" })
                        }
                        @if (canSeeUserClaims)
                        {
                            @Html.ActionLink("Claims", "ManageUserClaims", new { userId = item.Id }, new { @class = "btn btn-outline-success btn-sm" })
                        }

                        @if (item.IsEnabled)
                        {
                            if (canDisableUser)
                            {
                                @Html.ActionLink("Disable", "DisableUser", new { userId = item.Id }, new { @class = "btn btn-outline-danger btn-sm" })
                            }
                        }
                        else
                        {
                            if (canEnableUser)
                            {
                                @Html.ActionLink("Enable", "EnableUser", new { userId = item.Id }, new { @class = "btn btn-outline-danger btn-sm" })
                            }
                        }

                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="row">
        <partial name="_PaginationPartial" for="Pagination.Info"/>
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        function PageSizeSelected() {
            SubmitPagination();
        }
    </script>
}