@using QueflityMVC.Application.ViewModels.User;
@using QueflityMVC.Application.ViewModels.Other;
@model UserClaimsVM

@{
    ViewData["Title"] = $"{@Model.Username} - claims";
}

<h2>
    @Model.Username
    @if (Model.IsEnabled)
    {
        <span class="badge bg-primary">Active</span>
    }
    else
    {
        <span class="badge bg-secondary">Disabled</span>
    }
</h2>

<form asp-action="ManageUserClaims" asp-controller="Admin">
    <div class="row">
        <div class="col-auto">
            <h4>Manage their's claims</h4>
        </div>
        @if (Model.CanCallerManage)
        {
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        }
    </div>
    <div class="row">
        @Html.HiddenFor(vm => vm.UserId)
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Is assigned
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.AllClaims.Count; i++)
                {
                    ClaimForSelectionVM role = Model.AllClaims[i];
                    role.IsSelected = Model.AssignedClaimsIds.Contains(role.Id);
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => role.Id)
                        </td>
                        <td>
                            @Html.HiddenFor(vm => vm.AllClaims[i].Id)
                            @if (Model.CanCallerManage)
                            {
                                @Html.CheckBoxFor(vm => vm.AllClaims[i].IsSelected)
                            }
                            else
                            {
                                @Html.CheckBoxFor(vm => vm.AllClaims[i].IsSelected,new{ disabled=""})
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>
